@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Inter', system-ui, -apple-system, Segoe UI, sans-serif;
    background-color: #0b1021;
    color: #e2e8f0;
  }

  body {
    @apply min-h-screen m-0;
  }

  #app {
    @apply min-h-screen;
  }
}
